* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 25px;
    background-color: black;
    color: white;
}

.main-container {
    margin: 60px auto 0;
    width: 90%;
    border-radius: 10px;
    max-width: 400px;
    background-color: rgb(69, 69, 69);
}

header{
    padding: 12px 12px;
}

header,
main {
    text-align: center;
    font-size: 30px;
}

.input-buttons {
    padding-bottom: 30px;
    /* max-width: 50vw; */
}

input{
    padding:10px 45px;
    font-size: 21px;
    margin-bottom: 15px;
    background-color: black;
    color: white;
    border:2px solid white;
    border-radius: 15px;
}

.input-buttons button {
    font-size: 30px;
    background-color: rgb(0, 0, 0);
    color: rgb(223, 183, 82);
    padding: 15px 0px 60px 0px;
    border: 2px solid rgb(162, 162, 162);
    border-radius: 4px;
    min-width: 5vw;
    max-width: 16vw;
    min-height: 50px;
    max-height: 50px;
    cursor: pointer;
    margin: 5px;
}

#backspace {
    color: red
}

#equal {
    background-color: rgb(105, 105, 255);
    color: black;
}

#clear {
    background-color: rgb(255, 105, 105);
    color:black;
}