* {
    margin: 0;
    padding: 0;
    width: auto;
    font-family: Arial, sans-serif;
}

body {
    background-color: #1e1a17;
    
}

.nav-header {
    border-bottom: solid 1px #353535;
}

.head-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    padding: 0 24px;
    box-sizing: border-box;    
}

.logo-name {
    color: #e0a45e;
    font-size: 1.3rem;
}

ul {
    font-size: 1rem;
    display: flex;
    margin-left: auto; 
    color: rgb(219, 217, 217);
    display: flex;
    list-style-type: none;
    gap: 1.5rem;
}