* {
    margin: 0;
    padding: 0;
    width: auto;
    font-family: Arial, sans-serif;
}

:root {
    --primary-color: #e0a45e;
    --secondary-color: rgb(156, 143, 118);
    --background-color: #1e1a17;
}

body {
    background-color: var(--background-color);
}

.nav-header {
    border-bottom: solid 1px #353535;
}

.head-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    padding: 0 24px;
    box-sizing: border-box;
}

.logo-name {
    color: var(--primary-color);
    font-size: 1.3rem;
}

ul {
    font-size: 1rem;
    display: flex;
    margin-left: auto;
    color: whitesmoke;
    display: flex;
    list-style-type: none;
    gap: 1.5rem;
}

.main-content {
    display: flex;
    align-items: center;
    width: 62%;
    padding: 80px 0px 70px 30px;
    max-width: 980px;
    margin: 0 auto;
}


.face-info-left-side-content h1 {
    color: var(--primary-color);
    font-size: 45px;
    line-height: 65px;
}

.face-info-left-side-content p {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 20px;
    color: var(--secondary-color);
    max-width: 500px;
    line-height: 30px;
}

.face-info-left-side-content button {
    background-color: var(--primary-color);
    color: 1e1a17;
    padding: 18px 30px 18px 30px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
}

.face-photo-right-side-content img {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    margin-left: 100px;
}

.features {
    background-color: #151310;
    margin: 0 auto;
    padding-bottom: 80px;
}

.heading {
    color: var(--primary-color);
    text-align: center;
    padding: 70px 0px 70px 0px;
    font-size: 17px;
}

.boxes-section {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--background-color);
    text-align: center;
    margin-right: 25px;
    border: solid 2px rgb(51, 49, 43);
    border-radius: 15px;
    width: 290px;
    height: 230px;
}

.icon-box {
    font-size: 40px;
}

.box h3 {
    color: var(--primary-color);
}

.box p {
    color: var(--secondary-color);
    font-size: 16px;
    width: 230px;
    line-height: 25px;
}

.price-plan .heading {
    font-size: 17px;
}

.plan-container {
    display: flex;
    justify-content: center;
}

.plan {
    display: block;
    background-color: #0f0e0b;
    margin-right: 24px;
    height: 400px;
    width: 290px;
    border: solid 2px rgb(51, 49, 43);
    border-radius: 15px;
}

.plan-name {
    color: var(--primary-color);
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin-top: 45px;
}

.price {
    display:flex;
    justify-content: center;
    text-align:center;
    margin-top:30px;
    color:var(--secondary-color);
}

.price .price-number{
    font-size: 40px;
    font-weight: bold;
    color:white;
}