* {
    margin: 0%;
    padding: 0%;
}

:root {
    --font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --color: rgb(255, 248, 224);
}

body {
    background-color: rgb(255, 248, 224);
}

header,
nav-bar {
    display: flex;
}

header {
    padding: 1% 7% 1% 7%;
}

header .logo {
    font-family: var(--font-family);
    font-size: 1.5vw;
    font-weight: bold;
    margin: 0% 10% 0% 15%;
}

header nav-bar {
    font-family: monospace;
    transform: scaleX(1.2);
    margin: 0.2% 0% 0% 35%;
    font-size: 1vw;
    color: rgb(131, 131, 131);
    gap: 22%;
}

hr {
    border: solid 1px rgb(228, 225, 225);
}

.main-one {
    padding: 8% 20% 8% 20%;
    display: flex;
    flex-direction: row;
}

main .section-1 {
    display: block;
    margin-right: 20%;

}

.section-1 .title {
    display: block;
    color: rgba(190, 74, 67);
    font-family: 'DM Sans', sans-serif;
    letter-spacing: 10%;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.7vw;
    width: fit-content;
    border-bottom: 2px solid rgba(190, 74, 67);
    height: 20px;
    margin-bottom: 10%;
}

.heroname {
    display: block;
    font-family: var(--font-family);
    font-size: 2vw;
    font-weight: bold;
    text-shadow: 1px 0 currentColor;
    line-height: 1.1;
    transform: scaleY(1.2);
    /* border: 2px solid black; */
    width: 240%;

}

.explainContent p {
    display: block;
    color: rgb(112, 112, 112);
    margin-top: 0px;
    font-family: 'DM Sans';
    font-style: italic;
    line-height: 1.3vw;
    letter-spacing: 0.1vw;
    word-spacing: 0.5vw;
}

.section-2 {
    display: flex;
    justify-content: right;
    margin-left: 20%;
}



.section-1 button {
    background-color: rgba(137, 87, 79);
    color: var(--color);
    padding: 8% 13% 8% 13%;
    font-size: 75%;
    letter-spacing: 2px;
    font-weight: bold;
    margin-top: 25%;
    border: none;
}

.about-me {
    background-color: rgba(137, 87, 79);
    display: flex;
    justify-content: center;

}

.inside-about {
    display: flex;
    width: 60%;
}

.work-1 {
    color: rgb(189, 189, 189);
    font-size: 4vw;
    font-weight: bolder;
    margin: 4% 5% 5% 0%;
}

.contextof-about-me {
    justify-content: right;
    align-items: end;
    margin: 4% 0% 5% 30%;
    width: 60%;
    color: var(--color);
}

.contextof-about-me h2 {
    font-size: 2.3vw;
    font-weight: 900;
    font-family: var(--font-family);
    margin-bottom: 2%;
}

.contextof-about-me p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.9vw;
    line-height: 1.7vw;
    transform: scaleY(1);
}

.contextof-about-me .para-1 {
    margin-bottom: 3%;
}

.contextof-about-me .skill-list ul {
    display: flex;
}

.skill-list ul li {
    font-size: 0.8vw;
    list-style: none;
    font-family: var(--font-family);
    color: rgba(137, 87, 79);
    background-color: var(--color);
    padding: 1% 2% 1% 2%;
    margin-right: 2%;
}

.selected-work {
    margin: 0 auto;
    width: 60%;
    padding: 5% 0% 5% 0%;
    font-family: var(--font-family);

}

.selected-work .nav-head {
    font-size: 1.3vw;
    font-family: var(--font-family);
    display: flex;
    justify-content: space-between;
    height: fit-content;
}

.nav-head .work-2 {
    align-items: right;
    font-size: 2.3vw;
    color: rgba(137, 87, 79, 0.414);
}

.selected-work .context .project-grid {
    display: flex;
}

.project-card {
    margin-right: 2%;
}

.project-card .img {
    padding: 25% 30% 25% 30%;
    text-align: center;
}

.project-card #img-1 {
    background-color: rgba(255, 251, 176, 0.605);
}

.project-card #img-2 {
    background-color: rgba(175, 238, 255, 0.587);
}

.project-card #img-3 {
    background-color: rgba(190, 255, 176, 0.578);
}

.project-card .content {
    padding: 10%;
    background-color: white;
}

.project-card .content p {
    color: rgb(97, 97, 97);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.project-card .content ul {
    display: flex;
    color: rgba(189, 6, 6, 0.667);
    font-size: 0.7vw;
    font-weight: lighter;
}


.project-card .content ul li {
    margin-right: 8%;
}

.project-card .content h2 {
    margin: 2% 0% 2% 0%;
}

.project-card .content p {
    line-height: 150%;
    margin-bottom: 7%;
}

.project-card .content a {
    color: brown;
    text-decoration: none;
}

.project-card .content a::after {
    content: " ➜";
}

.footer {
    background-color: rgb(24, 19, 10);
}

.submit {
    display: flex;
    color: var(--color);
    /* align-items: center; */
    margin: 0 auto;
    width: 55%;
    padding: 5% 0% 5% 0%;
}

.boldtext h1 {
    font-size: 2.5vw;
    font-family: var(--font-family);
}

.boldtext .three {
    font-size: 4.5vw;
    font-family: var(--font-family);
    color: rgb(91, 82, 65);
}

.left-element p {
    margin-top: 3%;
    margin-bottom: 5%;
    font-size: 1vw;
    color: rgb(150, 139, 117);
    width: 70%;
}

.left-element .links a {
    color: rgb(150, 139, 117);
    padding-right: 3%;
    text-align: center;
    text-decoration: none;
}

form input{
    background-color:rgb(50, 45, 35) ;
    padding:3% 50% 3% 4%;
    font-size: 0.8vw;
    margin-bottom: 5%;
    border:1px solid ;
    border-radius: 5px;
}

form button{
    padding:2.5% 6% 2.5% 6%;
}