* {
    margin: 0%;
    padding: 0%;
}

body{
    background-color: rgb(255, 248, 224);
}

header,
nav-bar {
    display: flex;
}

header {
    padding: 1% 7% 1% 7%;
}

header p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 150%;
    font-weight: bold;
    margin: 0% 10% 0% 15%;
}

header nav-bar {
    font-family: monospace;
    transform: scaleX(1.2);
    margin: 0.2% 0% 0% 35%;
    font-size: 120%;
    color: rgb(131, 131, 131);
    gap: 22%;
}

hr {
    border: solid 1px rgb(228, 225, 225);
}

.main-one {
    padding: 8% 20% 8% 20%;
    display: flex;
    flex-direction: row;
}

main .section-1 {
    display: block;
    margin-right: 20%;

}

.section-1 .title {
    display: block;
    color: rgb(246, 119, 119);
    font-family: 'DM Sans', sans-serif;
    letter-spacing: 10%;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 70%;
    width: fit-content;
    border-bottom: 2px solid rgb(218, 5, 5);
    height: 20px;
    margin-bottom: 10%;
}

.heroname pre {
    font-family: 'DM Serif Display', serif;
    display: inline;

}

.heroname {
    display: block;
    font-size: 210%;
    font-weight: bolder;
    text-shadow: 3px 0 currentColor;
    line-height: 1.1;
    transform: scaleY(1.2);
    /* border: 2px solid black; */
    width: 240%;

}

.explainContent p {
    display: block;
    color: rgb(112, 112, 112);
    margin-top: 0px;
    font-size: 100%;
    font-family: 'DM Sans';
    font-style: italic;
    line-height: 25px;
    letter-spacing: 1px;
    word-spacing: 3px;
}

.section-2 {
    margin-left: 10%;
    display: flex;
    justify-content: right;
    margin-left: 20%;
}

.section-2 .img {
    width: 80%;
    height: 100%;
}

.section-1 button {
    background-color: black;
    color: rgb(255, 248, 224);
    padding: 8% 13% 8% 13%;
    font-size: 75%;
    letter-spacing: 2px;
    font-weight: bold;
    margin-top: 25%;
    border: none;
}

.about-me{
    display: flex;
    justify-content:center;
    background-color: white;
}

.work-1{
    color:rgb(189, 189, 189);
    font-size:400%;
    font-weight: bolder;
    margin:4% 5% 5% 15%; 
}

.contextof-about-me{
    margin:4% 0% 5% 20%; 
}