* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(23, 22, 22);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
    margin: 0 auto;
    background-color: rgb(240, 66, 8);
    display: flex;
    min-width: 200px;
    max-width: 500px;
    flex-direction: column;
    text-align: center;
    border: 3px solid gold;
    border-radius: 6px;
}

.heroname {
    color: rgba(0, 0, 0, 0.749);
    font-weight: bold;
    font-size: 35px;
    padding: 20px 0px 20px 0px;
}

.main #task {
    font-size: 25px;
    font-weight: bold;
    background-color: black;
    border: 2px solid black;
    border-radius: 6px;
    height: 40px;
    margin-bottom: 30px;
    color: white;

}

.main form button {
    font-size: 20px;
    padding: 6px 8px 6px 8px;
    margin-top: -10px;
}

.filters button {
    padding: 6px 8px 6px 8px;
    font-size: 20px;
}

.msg {
    font-weight: bold;
    margin: 20px 10px;
}

.footer .task-left {
    margin: 10px 0px;
}

.footer button {
    margin-bottom: 20px;
    padding: 6px 8px 6px 8px;
    font-weight:bold;
}